:root{
  --red:#e11d2a; --bg:#fff; --ink:#111; --muted:#6b7280;
  --card:#f7f7f8; --border:#ececef; --yellow:#ffd34d;
  --shadow:0 10px 30px rgba(0,0,0,.08);
}
*{box-sizing:border-box}
html,body,#root{height:100%}
body{margin:0; font-family:"Roboto Condensed", sans-serif;  color:var(--ink)}
img{max-width:100%; display:block}


.home{ width:min(1180px,100%); margin:0 auto}


.home-header {
  position: relative;
  width: 100vw;;
  margin-left: calc(-50vw + 50%); 
  background: url('/images/iteration-1-images/home-banner.png') center top / contain no-repeat;
  text-align: center;
  padding: 160px 16px 780px;
}

.home-logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
}

.home-header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #fdc913;
  font-family: "Satisfy", cursive;
}

.home-header h2 {
  margin: 0.5rem ;
  font-size: 4rem;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}

.home-header h3 {
margin-top: 0.5rem;
  font-size: 4rem;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}

.home-header .btn {
  padding: 15px 40px;
  border-radius: 9999px;
  border: none;
  background-color: #FDC913;
  font-weight: bold;
  cursor: pointer;
}

.categories{
  display:grid; grid-template-columns:repeat(6,1fr);
  gap:18px; padding:24px clamp(16px,3vw,28px);
  background:#fff;
  margin-top: -80px;
  
}
.category{
  background:white;
  padding:12px 10px; display:flex; align-items:center; justify-content:center; gap:10px;
  font-weight:600; 
}
.category img{width:28px; height:28px}
.category:hover{background:#fff; box-shadow:var(--shadow)}


.campaigns{
  margin-top: 10px;
  padding-top: 30px;
  display:grid; grid-template-columns:1fr 1fr; gap:18px;
  grid-template-rows: 1fr 1fr;
  background-color:  #FAF7F2;
}

.card.big {
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);
}

.card.special h2 {
  font-size: 3.5rem;
  margin: 0 40px 300px;
   position: absolute;
  font-weight: 700;
  line-height: 1.3;
  max-width:10%;
  word-break: break-word;
  white-space: normal;
}

.card.special h3{
  font-size: 1.5rem;
  
}
.card.burger h2 {
  font-size: 2rem;
  margin: 0 20px 120px;
  position: absolute;
  font-weight: 700;
  line-height: 1.3;
  max-width:10%;
  word-break: break-word;
  white-space: normal;
}
.card.kurye h2{
  font-size: 2rem;
  margin: 0 20px 120px;
  color: black;
  position: absolute;
  font-weight: 700;
  line-height: 1.3;
  max-width: 10%;
  word-break: break-word;
  white-space: normal;
}
.card.big .btn {
  position: absolute;
  background: #fff;
  color:red;
  padding:15px 30px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 0 20px 60px;
  

  font-size: 0.8rem;
  width: auto;
  min-width: unset;
}
.card.special .btn{
  margin: 0 30px 180px;
}
.card.kurye .err{
  color: #ce2829;
}
.card.special h3{
   margin: 0 35px 250px;
   font-size: 18px;
   font-weight: 500;
}


.card.special {
  background-image: url("/images/iteration-2-images/cta/kart-1.png");
  grid-row: span 2;
}
.card.burger {
  background-image: url("/images/iteration-2-images/cta/kart-2.png");
  height: 240px;
}
.card.kurye {
  background-image: url("/images/iteration-2-images/cta/kart-3.png");
  height: 240px;
  }

.menu{padding:8px clamp(16px,3vw,28px) 28px; background-color:  #FAF7F2;}
.menu h2{font-size:32px; color:#ce2829; font-family: "Satisfy"; font-weight: 400; line-height: 44px; letter-spacing: 0%; margin-left: 350px;}
.menu h3{margin:.25rem 0 1rem; font-size:1.8rem;margin-left: 300px; font-family:  "Roboto Condensed", sans-serif;}

.tabs{
  display:grid; grid-template-columns:repeat(6,1fr);
  gap:18px; padding:24px clamp(16px,3vw,28px);}
  
.tabs > button{
  background:white;
  padding:12px 10px; display:flex; align-items:center; justify-content:center; gap:10px;
  font-weight:600;  border: 1px solid var(--border); border-radius:9999px;
}

.tabs > button img{width:24px; height:24px ; flex: 0 0 24px; object-fit: contain;}
.tabs .isActive{
  background-color: black;
  color: white;
}

.menu-items{display:grid; grid-template-columns:repeat(3,1fr); gap:20px ; justify-content: center; background-color:  #FAF7F2;}
.item{
  background:#fff; border:1px solid var(--border); border-radius:18px; padding:14px;
  text-align:center; box-shadow:var(--shadow);
}
.item img{width:100%; aspect-ratio:1/1; object-fit:contain}
.item h4{margin:.6rem 0 .2rem; font-size:1rem}
.item p{margin:0; color:var(--muted); font-size:.92rem}
.item span{display:inline-block; margin-top:.35rem; font-weight:800}


.footer{
  margin-top:28px; background:#0f0f10; color:#f1f1f1;
  padding:32px clamp(16px,3vw,28px) 48px; border-top:1px solid rgba(255,255,255,.06);
  display:grid; grid-template-columns:2fr 1fr 1fr; gap:26px; max-width: 1200px; margin: 0 auto; width: 100%;
}
.footer .logo{width:160px; margin-bottom:12px ; }
.footer-item{display:flex; align-items:flex-start; gap:10px; margin:10px 0; color:#d7d7d9 ; margin-left: 150px ; font-weight: lighter;}
.footer-item img{width:18px; opacity:.85}
.footer-menu h4,.footer-insta h4{margin:0 0 10px}
.footer-menu ul{list-style:none; padding:0; margin:0}
.footer-menu li{padding:6px 0; border-bottom:1px dashed rgba(255,255,255,.08); font-weight: lighter;}
.footer-menu li:last-child{border-bottom:0}
.insta-grid{display:grid; grid-template-columns:repeat(3,74px); gap:10px}
.insta-grid img{width:74px; height:74px; object-fit:cover; border-radius:8px; border:1px solid rgba(255,255,255,.08)}
.footer-sep{
  border: 0;
  height: 1px;
  background: gray;
  margin: 20px 0;
  opacity: 0.3;
  width: 210%;
  margin-bottom: 5px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 20px;

}
.footer-bottom h2{
  font-size: 0.9rem;
  color: white;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -420px;
  
  
}

.twitter-icon{
  font-size: 20px;
  color: white;
  margin-left: auto;
}


/* ---------- Responsive ---------- */
@media (max-width:1024px){
  .categories{grid-template-columns:repeat(4,1fr)}
  .campaigns{grid-template-columns:1fr}
  .menu-items{grid-template-columns:repeat(3,1fr)}
}
@media (max-width:768px){
  .home-header{padding:36px 16px 120px}
  .home-header h2{font-size:2.1rem}
  .categories{grid-template-columns:repeat(3,1fr)}
  .menu-items{grid-template-columns:repeat(2,1fr)}
  .footer{grid-template-columns:1fr}
}
@media (max-width:480px){
  .home-header h2{font-size:1.7rem}
  .categories{grid-template-columns:repeat(2,1fr)}
  .menu-items{grid-template-columns:1fr}
}


.pizza-page {
  font-family: "Roboto Condensed", sans-serif;
  color: #292929;
  


}
.header {
  background-color: #ce2829;
  padding: 30px;
  text-align: center;
 width:100%;
 color: white;
 margin: 0;
 }

 .arkaplan {
  background: url("/images/iteration-2-images/pictures/form-banner.png") top center / auto no-repeat;

  background-color: #FAF7F2;
  height: 690px;
  margin: 0;
  width: 100%;
  padding:0;
  overflow: hidden;
  }
  .arkaplan > * {
    margin-top: 0;
  }
.logos {
  height:50px;
  display: block;
  margin: 0 auto;
}

.navbar{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:8px;
 margin-right: 350px;
 margin-top: 300px;
}
.navbar .star {
  color:red;
  font-size: 13px;
  font-weight: 400;
}
.navbar a {
  color:black;
  margin-right: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  font-weight: 400;
  
  
}

.main {
  max-width: 600px;
  margin: 0 auto;
padding: 20px;
background-color: white;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-right: 210px;
  margin-top: 20px;
  

}
.price-rating {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 450px;               
  margin: 10px auto 20px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #000;

  text-align: left;
  margin-left: 80px;
  
}

.rating {
  display: flex;
  gap: 80px;
  font-size: 14px;
  color:#5F5F5F;
  
}
.rating .count {
  color:#5F5F5F;
  font-size: 14px;
}


.desc {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 30px;
  color: #555;
  line-height: 1.5;
  padding-left: 120px;

}

.section {
  font-size:16px;
  margin : 35px 0 10px}

  .section label {
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    
    
  }

  .section input{
    padding: 8px;
    font-size: 14px;
    margin-top:5px;
    background-color: #FAF7F2;
    width: 100%;
  
  }
 .order-footer{
  display: flex;
  justify-content:flex-start;
  gap:20px;
  margin-top:20px;
 }

.quantity{
  display: flex;
  align-items: center;
  border:1px solid #ddd;
  border-radius: 4px;
  height: 55px;
  background-color: #FAF7F2;

}

.quantity button {
  width: 40px;
  height: 55px;
  border:none;
  background: #fdc913;
  font-size: 1.2rem;
  cursor:pointer;
  

}
.quantity span {
font-size: 1.1rem;
font-weight: bold;
padding:0 1rem;
line-height: 55px;
  
}

.order-box{
 height: 197px;
 left:180px;
 border:1px solid #ddd;
 border-radius: 6px;
 width:350px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 0;
 overflow: hidden;
 
}
.order-summary {
 padding: 1rem 1.5rem;
 background-color: #FAF7F2;
 
 
}
.order-summary h3{
  margin-bottom: 0.8rem;
  font-size: 20px;
  
}
.order-summary p {
  display: flex;
  justify-content: space-between;
  margin:0.4rem 0;
  font-size: 18px;

}
.order-summary .total{
  font-weight: bold;
  color:red
}
.order-btn {
padding: 1rem;
font-size: 1.1rem;
font-weight: bold;
border: none;
padding: 1rem;
cursor:pointer;
background-color:#FDC913;
width: 100%;
border-radius: 0 ;
margin: 0;
display: block;

}
.order-btn:hover{
  background:#FAF7F2;

}
.order-btn:disabled{
  background: #ccc;
  cursor: not-allowed;
  
}
.boyut-group .form-group{
  flex:1;
}
.form-row{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.boyut-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}
.boyut-options {
  display: flex;
  gap:12px;
}

.boyut-group input[type="radio"] {
  display: none;
}


.boyut-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 9999px;
  background:#FAF7F2;
  cursor: pointer;
  transition: 0.2s ease;
}


.boyut-group label span {
  font-size: 20px;
  font-weight: bold;
  color:#5F5F5F;
}


.boyut-group input[type="radio"]:checked + span {
   background-color: #FDC913; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}


  .form-group h3{
    margin: 0 0 8px;
    font-size: 20px;
    color: #5F5F5F;
  }
  .form-group label {
    margin-right: 12px;
    font-size: 14px;
  }
  .form-group select{
    width:150%;
    height: 50px;
    top: 250px;
    font-size: 14px;
    background-color: #FAF7F2;
    border: none;
    color: #5F5F5F;
    margin-top: 30px;
    
  }

  .checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 10px;
}

.malzeme-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 15px;
  font-weight: 500;
}


.malzeme-box input[type="checkbox"] {
  accent-color: #000; 
  width: 18px;
  height: 18px;
  cursor: pointer;
}


.malzeme-box input[type="checkbox"]:checked + span {
  background: none;   
  color: #000;
}

.malzeme-box input[type="checkbox"]:checked ~ span,
.malzeme-box input[type="checkbox"]:checked {
  background-color: #FDC913; 
  border-radius: 6px;
}
 .checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}


.malzeme-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  color: #5F5F5F;
}


.malzeme-item input[type="checkbox"] {

  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: #FAF7F2;
}


.malzeme-item input[type="checkbox"]:checked {
  background-color: #FDC913;
  border-color: #FDC913;
}

.malzeme-item input[type="checkbox"]:checked::after {
  content: "✔";
  position:relative;
  top:10px;
  left:20px;
  font-size: 18px;
  color: #000;
}
  .note {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }

  .note textarea{
    width: 100%;
    min-height: 100%;
    padding: 10px;
    font-size: 15px;
    border:1px solid #ccc;
    border-radius: 6px;
    background-color: #FAF7F2;
    
  }
  .form-row span.star{
    color:red;
    margin-left: 4px;
  }
  
  .foot{
  width:100%;
  background:#101012;         
  color:#fff;
  padding:40px 20px 26px;
 position: relative;
  box-sizing: border-box;
                  
             
}
.foot-container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap:56px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.foot-left{
  flex:1 1 260px;             
  max-width:420px;
}

.logo{ height:48px; margin-bottom:14px; margin-right: 280px; }

.foot-item{
  display:flex; align-items:center; gap:10px;
  margin:10px 0;
  color:#cfcfd6; font-size:14px;
}
.foot-item img{ width:18px; height:18px; display:block; }
.foot-item span{ display:block; }


.foot-menu{
  flex:1 1 220px;
  min-width:220px;
}
.foot-menu h4{
  margin:0 0 10px; font-size:18px; font-weight:700;
}
.foot-menu ul{ list-style:none; margin:0; padding:0; }
.foot-menu li{
  padding:5px 0;
  color:#d4d4da; font-size:14px;
  border-bottom:1px dashed rgba(255,255,255,.06);
}
.foot-menu li:last-child{ border-bottom:none; }


.foot-instagram{
  flex:1 1 220px;
  min-width:220px;
}
.foot-instagram h4{ margin:0 0 10px; font-size:18px; }
.instagram-grid{
  display:grid;
  grid-template-columns:repeat(3, 70px);
  gap:8px;
}
.instagram-grid img{
  width:70px; height:70px;
  object-fit:cover; border-radius:6px;
  box-shadow:0 2px 8px rgba(0,0,0,.25);
}

.foot-sep{
  border: none;          
  margin:22px 0 10px;
  border:none; height:1px;
  background:linear-gradient(90deg,transparent,rgba(255,255,255,.15),transparent);
}

.foot-bottom{
  max-width: 1100px;
  color:#a5a6ae;
  font-size:12px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}
.twitter-icon{ width:18px; height:18px; vertical-align:middle; }


  .success-container {
  min-height: 100vh;
  background-color: #d32f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.success-container .logox {
  width: 300px;
  margin-bottom: 10px;
  
}

.success-container .sub {
  font-size: 22px;
  color: #ffeb3b;
  margin-bottom: 10px;
  font-family: "Satisfy", cursive;
    font-weight: 400;
  font-style: normal;
  margin-top: 80px;
}

.success-container .title {
  font-size: 46px;
  font-weight: normal;
  margin: 10px 0 10px;
  letter-spacing: 1px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;

}

.success-container hr {
  width: 80%;
  max-width: 600px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  margin: 20px auto;
}

.success-summary {
  display: inline-block;
  text-align: left;
}
.success-summary h3 {
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: bold;
  color: white;
  font-family: "Roboto Condensed", sans-serif;

}

.success-summary .row{
  display:flex;
  margin: 6px 0;
}
.success-summary p {
  font-size: 18px;
  margin: 6px 0;
  color: white;
}
.success-summary .row .label{
  font-weight: lighter;
margin-right: 5px;
}
.success-summary .row .value{
  font-weight: bold;
  text-align: left;
}

.price-box .row .label {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  text-align: left;
}


.price-box {
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px 20px;
  margin: 30px auto ;
  height: 200px;
  width: 350px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}

.price-box-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
}
.price-box .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  font-size: 15px;

}
  @media (max-width:768px) {
     .form-row {
    flex-direction: column;
    gap: 15px;
  }

  .boyut-group,
  .hamur-group {
    width: 100%;
  }

  .boyut-options {
    justify-content: center;
  }

  .checkbox-group {
    grid-template-columns: repeat(2, 1fr); /* 2 sütun */
    gap: 10px;
  }

  .order-footer {
    flex-direction: column;
    gap: 15px;
  }

  .order-box {
    width: 100%;
  }

  .order-btn {
    width: 100%;
    font-size: 16px;
    padding: 14px;
  }
    .home{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding-bottom: 150px;
    }
    .home-header h2{
      font-size: 70px;
      font-weight:lighter
    }
    .home-header h3{
      font-size: 70px;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .home-logo{
      top:50px;
      left:50%;
      transform: translateX(-50%);
      height: 30px;
    }
    
  .success-container {
    padding: 20px 10px;
  }

  .success-container .title {
    font-size: 28px;
    letter-spacing: 1px;
  }

  .success-container .sub {
    font-size: 16px;
  }

  .success-summary h3 {
    font-size: 18px;
  }

  .row {
    font-size: 14px;
  }

  .price-box {
    padding: 15px;
  }

  .price-box-title {
    font-size: 16px;
  }
}

