html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}



.home {
  background-image: url("/images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.header{
  margin-top: 50px;
  text-align: center;
  color: white;
}
h1 {
  background: url("/images/iteration-1-images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 80px;
  text-indent: -9999px;
  
}

.btn {
  background: #fdc913;
  border: none;
 border-radius:20px;
 font-size: 12px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 15px 50px;
 cursor: pointer;
 margin-bottom: 800px;
 
}

